{% extends 'blog/base.html' %}

{% block content %}
   {% for post in posts %}
       <div class="post">
           <div class="date">
               {{ post.published_date }}
           </div>
           <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>

           <p>{{ post.text|linebreaksbr }}</p><span style="background-color:yellow">Watson Says:</span>
       <p>Anger : {{ post.angerScore }} |
       Disgust : {{ post.disgustScore }} |
       Fear : {{ post.fearScore }} |
       Joy : {{ post.joyScore }} |
       Sad : {{ post.sadScore }}</p>


           <p> {{ post.trans }}</p>
           <p>
               Word Count : {{post.wordCount}} |
               Letter Count : {{post.characterCount}}

           </p>
           
           <p></p><span style="background-color: lightskyblue">Language Analysis</span>
           <p>Keywords : {{post.keyWord}}</p>
           <p>Sentiment : {{post.keySent}}</p>
           <p>Relevane : {{post.keyRel}}</p>
           <p>Sadness : {{post.keySad}}</p>
           <p>Joy : {{ post.keyJoy}}</p>
           <p>Fear : {{ post.keyFear}}</p>
           <p>Disgust : {{ post.keyDisg}}</p>
            <p>Anger : {{ post.keyAng}}</p>

       </div>
   {% endfor %}
{% endblock %}
